<div class="container ">
  <p><span class="bg-lightsecondary">　</span></p>
      <%= form_tag books_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,
                       options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                       {
                         prompt: 'タグで絞り込み検索',
                         onchange: 'submit(this.form);'
                       }
        %>
      <% end %>
  <div class="col-lg-9">
    <div class="center"><h1>投稿一覧</h1></div>
      <%= render 'index',books: @books %>
  </div>
</div>
