<ul class="nav justify-content-end">
  <li class="nav-item">
    <span style="margin: 110px">
    <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:100px;">新規登録</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 110px">
    <%= link_to new_user_session_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:100px;">ログイン</button>
    <% end %>
    </span>
  </li>
</ul>
<!--<div class="search-form">-->
<!--  <%#= form_with url: search_path, method: :get, local: true do |f| %>-->
<!--    <%#= f.text_field :keyword, value: @keyword %>-->
<!--    <%#= f.submit "検索" %>-->
<!--  <%# end %>-->
<!--</div>-->